# 第一步：忽略所有
*

# 第二步：不忽略 .gitignore 本身
!.gitignore

#不忽略develop文件夹
!my-neuro/develop

#忽略my-neuro/develop 特定文件

my-neuro/develop/2D
my-neuro/develop/AI记录室
my-neuro/develop/build
my-neuro/develop/fake_neuro_audio
my-neuro/develop/node
my-neuro/develop/node_modules
my-neuro/develop/song-library
